---
import GeneralFooter from "../components/GeneralFooter.astro";
import GeneralNav from "../components/GeneralNav.jsx";
import Back from "../components/Back.astro";

export interface Props {
	title?: string;
	description?: string;
	meta_image?: string;
}

let { title, description: desc, keywords, date } = Astro.props?.frontmatter;

if (!title) title = "Reda — The way to own your library";
if (!desc) desc = "Import, share, organise and read your favourite books, articles and documents anytime with Reda.";

const meta_image: string = `https://www.usereda.app/meta.jpg`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<meta name="title" content={title} />
		<meta name="color-scheme" content="dark" />
		<meta name="theme-color" content="#000000" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="description" content={desc} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://usereda.app" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content={meta_image} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://usereda.app" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={desc} />
		<meta property="twitter:image" content={meta_image} />
		<meta http-equiv="content-language" content="en" />

		<!-- Google Tag Manager -->
		<script is:inline>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-MPGZG82");
		</script>
		<!-- End Google Tag Manager -->
		<meta name="Cache-Control" content="no-cache" />

		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

		<title>{title}</title>
	</head>
	<body class="antialiased">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPGZG82" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<GeneralNav client:load />

		<main class="blog-content mt-[14vh] mb-6">
			<section>
				<Back url="/blog" />
				<div class="my-6">
					<h1 class="text-3xl lg:text-4xl font-semibold">{title}</h1>
					<h6 class="text-xs lg:text-sm text-neutral-600 mt-2">{date}</h6>
				</div>

				<slot />
			</section>
		</main>
		<GeneralFooter />
	</body>

	<style is:global>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		html {
			font-family: "Outfit", "Inter", Arial, Helvetica, system-ui, sans-serif;
			background-color: #000000;
			color: #ffffff;
		}

		section {
			padding: 0 1rem;
			max-width: 1024px;
			margin: 0 auto;
			margin-bottom: 2rem;
		}

		.blog-content {
		}

		@media (min-width: 1536px) {
			section {
				max-width: 1280px !important;
				padding: 0rem;
			}
		}

		footer a {
			color: #6a6a6a;
			font-weight: 400;
			font-size: 0.875rem;
			transition: all 0.1s ease-in-out;
		}
		footer a:hover {
			color: #ffffff;
			text-decoration: underline;
			text-decoration-style: dashed;
		}

		p {
			font-size: 1rem;
			line-height: 1.6rem;
			font-weight: 400;
		}

		button {
			background-color: #ffffff;
			color: #000000;
			font-size: 0.8rem;
			border: none;
			padding: 0.9rem 2rem;
			border-radius: 0.5rem;
			transition: all 0.15s ease-in-out;
		}

		button:hover {
			opacity: 0.8;
		}

		.hidden-scrollbar::-webkit-scrollbar {
			display: none;
		}

		.hidden-scrollbar {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}

		.hidden-scrollbar {
			-webkit-overflow-scrolling: touch;
		}

		.blog-content a {
			color: white;
		}
		.blog-content a:hover {
			color: #f5f5f5a4;
			text-decoration: underline;
		}
		.blog-content p {
			margin: 1rem 0;
		}
		.blog-content p > code {
			background-color: var(--secondary-dark);
			padding: 0.15rem 0.45rem;
			font-size: 0.75rem;
			font-family: "Courier New", Courier, monospace;
		}
		.blog-content pre {
			background-color: var(--secondary-dark) !important;
			padding: 1.25rem;
			font-size: 0.85rem;
			font-family: "Courier New", Courier, monospace;
			overflow-x: auto;
		}
		.blog-content blockquote {
			@apply bg-emerald-500 bg-opacity-10 border-l-2 border-emerald-500 px-4 py-2.5 my-4;
		}
		.blog-content blockquote p {
			font-family: Georgia, "Times New Roman", Times, serif;
			font-style: italic;
			font-size: 0.88rem;
			line-height: 1.9;
			margin: 0;
			@apply text-emerald-500;
		}
	</style>
</html>
